.container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: red;
    border: 2px solid black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: pink;
}

.grid-square{
    width: calc(100% / 16);
    height: calc(100% / 16);
    background-color: blue;
    box-sizing: border-box;
    border: 1px solid white;
}

.usergrid {
    box-sizing: border-box;
    border: 1px solid white; 
}


/*.grid-square:hover{
    background-color: black;
}*/
